# Cadena de conexión a tu clúster de MongoDB Atlas
# (Atlas -> Connect -> Drivers -> copia la URI y agrega tu usuario/password)
MONGO_URI=mongodb+srv://usuario:password@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority

# Nombre de la base de datos que usará la aplicación
DB_NAME=pizzas_animatronicos
